# HW4 Part 1 - Review of Python Classes

April 21, 2020

The following is meant to be a brief review of classes in Python. If you feel comfortable with building and manipulating classes in Python, feel free to skim this part

In [34]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## 1a) Create a class "`Dog`" with an `__init__` function that takes in the variable `name`

In [35]:
class Dog:

    def __init__(self, name):
        self.name = name
        # assign 'name' to self here as a data attribute

In [36]:
mydog = Dog('Jojo')

In [37]:
mydog.name

'Jojo'

# 1b) Add a method to this class `add_trick` that takes in a variable `trick`
Keep in mind that a Dog might learn many tricks - you might keep track of the tricks it learns in a list

In [38]:
class Dog:

    def __init__(self, name):
        self.name = name
        self.trick = [] # initialize variable
        
    def add_trick(self, trick): # this is a method attribute
        self.trick.append(trick) # add trick to end of list

In [39]:
# test your code
mydog = Dog('Jojo')
mydog.add_trick('roll over')
mydog.add_trick('play dead')
mydog.add_trick('flippy flip')

# print the tricks here
print(mydog.trick[1])

play dead

## 1c) Modify the class so that it keeps track of the dog's age, gender and species
Would these be better as a data attributes or as a method attributes?

In [40]:
class Dog:
    
    species = 'Canis familiaris'

    def __init__(self, name, age, gender):
        self.name = name
        self.trick = [] # initialize variable
        self.age = age
        self.gender = gender
        
    def add_trick(self, trick): # this is a method attribute
        self.trick.append(trick) # add trick to end of list

## 1d) Create 3 dogs with various characteristics, and assign them different tricks

In [42]:
dog1 = Dog(name='Jasmine', age=7, gender='F')
dog2 = Dog(name='Cassie', age=12, gender='F')
dog3 = Dog(name='Violet', age=2, gender='F')

dog1.add_trick('barks for treats')
dog2.add_trick('begs for tummy rubs')
dog3.add_trick('catches birds')

dog1.trick

['barks for treats']

## 1e) Create a method/function `print_summary` for the Dog class that prints all the relevant data and tricks

In [62]:
class Dog:
    
    def __init__(self, name, age, gender, species):
        
        # do some data validation
        assert isinstance(name, str), 'name is not a string'
        assert isinstance(age, (int, float)), 'age is not a number'
        assert gender in ('M','F','O')
        assert isinstance(species, str), 'species is not a string'
        
        self.name = name
        self.trick = [] # initialize variable
        self.age = age
        self.gender = gender
        self.species = species
        
    def add_trick(self, trick): # this is a method attribute
        self.trick.append(trick) # add trick to end of list
        
    def print_summary(self):
        # use dict.get() method to pull proper pronoun
        pronoun = {
            'M': 'he',
            'F': 'she'
        }.get(self.gender, 'they')
        # format string to concat multiple tricks
        tricks = ' and '.join(self.trick)
        # Generate string
        print((
            "I love my dog {0}. "
            "{2}, now {1} years old, "
            "is very food motivated and "
            "{3} to be rewarded with lots of treats."
        ).format(self.name, self.age, pronoun.capitalize(), tricks))
        
    def return_df(self):
        df = pd.DataFrame({'name': self.name,
                           'age': self.age,
                           'gender': self.gender,
                           'species': self.species,
                           'trick': self.trick})
        
        return df

In [63]:
# create 3 dogs again with your new/modified class and 
dog1 = Dog(name='Jasmine', age=7, gender='F', species='cairn terrier')
dog1.add_trick('barks until we give her more')
dog1.add_trick('throws her ball at our feet')
dog2= Dog(name='Cassie', age=12, gender='F', species='wheaten')
dog2.add_trick('begs for bellyrubs')
dog3 = Dog(name='Violet', age=4, gender='F', species='tabby')
dog3.add_trick('meows like a cat')
dog3.add_trick('pretends to be a dog')
dog3.add_trick('hunts mice')

dogs = [dog1, dog2, dog3]

for d in dogs:
    d.print_summary()

I love my dog Jasmine. She, now 7 years old, is very food motivated and barks until we give her more and throws her ball at our feet to be rewarded with lots of treats.
I love my dog Cassie. She, now 12 years old, is very food motivated and begs for bellyrubs to be rewarded with lots of treats.
I love my dog Violet. She, now 4 years old, is very food motivated and meows like a cat and pretends to be a dog and hunts mice to be rewarded with lots of treats.

## 1f) Finally, create a function/method that returns a pandas dataframe of the dog's name, age, gender species and tricks

This code should run. What do you notice about having multiple tricks?

In [64]:
jojo = Dog(name='Jojo',age=12,gender='M',species='collie')

jojo.add_trick('roll over')
jojo.add_trick('flippy flip')

df = jojo.return_df()

df.head()

   name  age gender species        trick
0  Jojo   12      M  collie    roll over
1  Jojo   12      M  collie  flippy flip

In [65]:
df2 = dog2.return_df()
df2.head()

     name  age gender  species               trick
0  Cassie   12      F  wheaten  begs for bellyrubs

In [66]:
df3 = dog1.return_df()
df3

      name  age gender        species                         trick
0  Jasmine    7      F  cairn terrier  barks until we give her more
1  Jasmine    7      F  cairn terrier   throws her ball at our feet